.db-background{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.db-background-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
}

.db-lb-background{
    display:flex;
    flex-direction: column;
    /* margin: 24px; */
    min-width: 440px;
    background-color: #add994;
    border-radius: 24px;
    padding: 24px;
    align-items: center;
    gap: 16px;
}

.db-lb-dropdown{
    /* style={{ display: "flex", width: "100%",gap:"16px" }} */
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    align-items: center;
    margin-bottom: -8px;
}
.db-lb-dropdown img{
    cursor: pointer;
}

.db-prog-background{
    display:flex;
    flex-direction: column;
    margin-top: 48px;
    width: 100%;
    background-color: #121212;
    color: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 24px;
    align-items: center;
    min-height: 352px;
}
.db-rank-card{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}
.db-rank-card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 24px; */
    
    
}

/* .db-rank-card-row div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    
} */

.db-prog-list{
    display: flex;
    flex-direction: column;
    width: 744px;
    gap: 8px;
}
.db-prog-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    background-color: white;
    color: #121212;
    border-radius: 16px;
    width:100%;
    margin-bottom: 24px;
}
.db-prog-topic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.db-prog-list-bar{
    display: flex;
    flex-direction: column;
    /* margin-top: 16px; */
    gap: 8px;
}
.db-prog-list-bar-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.pre-post{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    gap: 24px;
}
.pre-post-btn{
    display: flex;
    padding: 10px 16px 10px 16px;
    background-color: white;
    color: black;
    border-radius: 100px;
    cursor: pointer;
}

.pre-post-btn:hover{
 background-color: #1c5502;
 color: white;
}
.pre-post-btn-active{
    background-color: #1c5502;
    color: white;
}


.db-graph{
    display:flex;
    flex-direction: column;
    background-color: #add994;
    border-radius: 24px;
    padding: 24px;
    align-items: center;
    gap: 16px;
    width: 520px;
}

.db-graph-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background-color: white; */
    /* border-radius: 24px; */
    /* width: 100%; */
    /* padding: 24px; */

}
.db-graph-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.db-graph-info div h2{
  width: 25%;
}
.db-graph-info div p{
    width: 25%;
  }

  .info-btn{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding:  1px 10px 1px 10px;
    border-radius: 50%;
    transition: transform 300ms;
    cursor:pointer;
    margin-left: 5%;
    color: black;
    background-color: white;
  }

  .info-btn:hover{
    transform: scale(1.5);
    background-color: #F37103;
    color: white;
  }

  .slide-left{
    transition: width 2s ease-out;

  }
  .slide-up{
    transition: height 2s ease-out;

  }
  /* @keyframes slideLeft{
    0% { width: 0; }
    100% { width: 100%; }
  } */

  .dropdown-items-dashboard{
  
    /* min-height: 150px; */
    /* right: 10px; */
    margin-top: 120px;
    width: 100px;
    /* margin-left: 50px; */
    justify-content: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10; /* High value to ensure dropdown is on top */
    background-color: #FFFBCE;
    border-radius: 8px;
    align-items: flex-start;
    /* padding: 6px 8px 6px 8px; */
    /* border: 2px solid  #F37103; */
    /* animation: slideDown 0.1s; */
  }
  
  .dropdown-items-dashboard div{
    display: flex;
    width: 100%;
    padding: 4px 8px 4px 8px;
    /* padding-right: 8px;
    padding-left: 8px; */
    /* width: 100%; */
    cursor: pointer;
    gap: 8px;
    animation: slideDown 0.5s;
  }
  
  .dropdown-items-dashboard div:hover{
    background-color: white;
    border-radius: 8px;
  }
  
  @keyframes slideDown{
    0%{ height: 0%;
        opacity: 0;}
    100%{ height: 100%;
          opacity: 1;}
  }
  
  .dropdown-btn{
    display: flex;
    border-radius: 50%;
    background-color: #F37103;
    cursor: pointer;
    transition: transform 300ms;
}
.dropdown-btn:hover{
      transform: scale(1.15);
   
  }

  .db-lb-dropdown-topic{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    padding: 8px 12px 8px 12px;
    border-radius: 24px;
  }

  .no-result{
    margin-top: 18px;
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.db-rank-card-row-right{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 12px 12px 0px;
}


/* .row-center{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:24px;
} */
.dashboard-info-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    grid-template-rows: minmax(75px,auto)  minmax(75px,auto)  minmax(75px,auto)  minmax(75px,auto);
    grid-template-areas: 
    ' no-test no-test avg-score'
    'sd-stat mode-score mode-score'
    'range-score range-score range-score'
    'p-score p-score p-score';
    gap: 16px;
}

.dashboard-info-grid-content{
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}
.dashboard-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 4px;
}

.no-test{
    grid-area: no-test;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 16px; */
}
.no-test-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-test-row-left{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 130px;
    height: 100%;
}
.no-test-row-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* flex-wrap: nowrap; */
    width: 80px;
}

.avg-score{
    grid-area: avg-score;
    display: flex;
    flex-direction: column;
}
.avg-score-row{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.avg-score-row-left{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    width: 130px;
    height: 100%;
    border-left: 2px solid #121212aa;
    border-bottom:2px solid #121212aa;
}
.avg-score-row-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* flex-wrap: nowrap; */
    width: 80px;
}
.avg-score-bar{
    width: 18px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sd-stat{
    grid-area: sd-stat;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sd-stat-row{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 8px;
}
.sd-stat-box{
    display: flex;
    background-color: #f36f0367;
    border-radius: 12px;
    padding: 16px;
}
.mode-score{
    grid-area: mode-score;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mode-score-row{
    display: flex;
    justify-content: space-around;
}
.mode-score-box{
    display: flex;
    background-color:  #f36f0367;
    justify-content: center;
    border-radius: 12px;
    padding: 16px;
}
.range-score{
    grid-area: range-score;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.range-score-grid{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    gap: 8px;
}
.range-score-content{
    border-radius: 16px;
    padding: 4px;
    display: flex;
    justify-content: center;
}
.p-score{
    grid-area: p-score;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.p-score-box{
    display: flex;
    color: white;
    background-color: #F37103;
    border-radius: 16px;
    padding: 4px 8px 4px 8px;
}
.p-score-bar{
    display: flex;
    width: 100%;
    border-radius: 16px;
    /* padding: 4px 8px 4px 8px; */
    color: white;
    background-color: #244d1153;
}
.p-score-progress{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #244D11;
    justify-content: center;
    border-radius: 16px;
    padding: 4px 8px 4px 8px;
}
.db-graph-header{
    display: flex;
    color: white;
    background-color: black;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    gap: 12px;
}

.db-rank-your-score{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.db-rank-dot{
    display: flex;
    border-radius: 16px;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100%;
}

.shadow{
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.1);
}