.exam-body{
    display: flex;
    position:relative;
    top: 24px;
    justify-content: center;
    gap: 24px;
}

.exam-body-right{
    display: flex;
    background-color: #add994;
    width: 774px;
    min-height: 660px;
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 24px;
    flex-direction: column;
}

.exam-list{
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  gap: 18px;
}

.exam-card{
    /* width: 354px; */
    width: 344px;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    /* padding: 24px; */
    background-color: white;
    align-items: center;
    justify-content: space-between;
    transition: transform 200ms;
}
.exam-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.no-exam-list{
    margin-top: 18px;
    display: flex;
    background-color: white;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.exam-card-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 150px;
    padding-top: 24px;
    padding-bottom: 8px;
}

.exam-card-left div{
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.exam-card-right{
    padding-right: 24px;
}