.footer-background{
    display: flex;
width: 100%;
padding: 73px 150px;
justify-content: space-between;
align-items: center;
background: #F37103;
}

.footer-left{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
color: white;
}
.footer-btn{
    display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 40px;
background: #FFAE69;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
color: black;
}
.footer-btn:active{
    transform: scale(0.95);
}
.footer-right{
    display: flex;
/* height: 253.5px; */
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 24px;
color: white;

}

.footer-logo-ups{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}
.footer-logo-ups:hover{
    background-color: #dedede;
}
.footer-logo-ups:hover .ups-icon{
    animation: slide-in-top 0.3s both;
}
.footer-logo-facebook{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.footer-logo-facebook:hover{
    background-color: #237FEB;
}
.footer-logo-facebook:hover .facebook-icon{
    animation: slide-in-top 0.5s both;
}

.footer-logo-youtube{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.footer-logo-youtube:hover{
    background-color: #FA0B00;
}
.footer-logo-youtube:hover .youtube-icon{
    animation: slide-in-top 0.5s both;
}
.footer-logo-line{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.footer-logo-line:hover{
    background-color: #22B900;
}
.footer-logo-line:hover .line-icon{
    animation: slide-in-top 0.5s both;
}
.copied-appear{
    display: flex;
    left: 100px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    animation: fadeout 1s linear;
}

@keyframes slide-in-top {
    0% {
      transform: translateY(-15px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
@keyframes fadeout {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% {opacity: 1;}
    100% { opacity: 0; }
  }
  